/* ALL */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
   
     background: #AAD7DE;
}

header {
    max-width: 67.5rem;
    padding: 4.5rem 6rem;
}

img {
    display: inline-flex;
    max-width: 100%;
}

.container {
    display: flex;
    max-width: 67.5em;
    margin-inline: auto;
    padding-inline: 2.5rem;
    gap: 2rem;
    justify-content: center;
}

/* HOME BUTTONS */
.home-buttons {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 317px;
}

.btn-start {
    color:#AAD7DEFF;
    height: 114px;
    padding: 24px;
    gap: 8px;
    
}

.btn-new-word {
    width: 280px;
    height: 67px;
    padding: 24px;
    gap: 8px;
}

.buttons-box {
    display: flex;
    gap: 1.5rem;
}

.btn-blue {
    color: #AAD7DEFF;
    background: #085B68;
    transition: 1s all;    
}

.btn-blue:hover {
    background: #AAD7DEFF;
    transform: scale(1.59);
    color: #085B68;
}

.btn-white {
    background: #085B68; /* Light gray */
    color: #AAD7DEFF; /* Dark blue/dark-blue-300 */
    transition: 1s all;
}

.btn-white:hover {
    background: #cbd9ea;
    transform: scale(1.09);
}

.btn-blue, .btn-white {
    width: 100%;
    padding: 1.5rem;
    border: thin solid currentColor;
    border-radius: 1rem;
    cursor: pointer;
}

/* NEW WORD */
.txt-input {
    width: 100%;

    font-size: 2rem;
    color: #0A3871; /* Dark blue/dark-blue-300 */

    border-radius: 15px;
    background: none;
    resize: none;
    border: none;
    outline: none;
}

.warningLabel {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: .75rem;
    color: #6A7275; /* Gray/gray-400 */
    opacity: 0.8;
}
/* ahorcado*/
.txt-start {
    text-align: center;
}

.btn-exit-game, .btn-new-game {
    width: 332px;
    height: 67px;
    padding: 24px;
    gap: 8px;
}

.btn-exit-game {
    box-sizing: border-box;
}

/* FOOTER */
footer {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/* Copyright */
footer {
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
}

.contact {
    margin-top: 15px;
}

.contact li {
    display: inline-block;
    margin-left: 10px;
}
/* RESPONSIVE DESIGN */
/* PC */
@media screen and (max-width: 1024px) {

    header {
        padding-left: 2rem;
        padding-top: 3.5rem;
    }
    
    .container {
        gap: 1rem;
    }

}
/* TABLE */
@media screen and (max-width: 770px) {
    .container {
        padding-inline: 2.5rem;
        flex-wrap: wrap;
    }

    .hangman {
        max-width: 90%;
    }

    .hangman-canvas {
        max-width: 100%;
    }

    .txt-start {
        font-size: 1.1rem;
    }


}

/* PHONE */
@media screen and (max-width: 450px) {
    .hangman {
        max-width: 100%;
    }

    .btn-blue, .btn-white {
        padding: 1rem;
    }
}